@* @inherits LayoutComponentBase

<PageTitle>Bookshelf</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
 *@
@inherits LayoutComponentBase

<PageTitle>Bookshelf Database</PageTitle>
<div class="page">
    <main>
        <Header/>
        @Body
    </main>
</div>